PROD=false
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hubsme
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=connection_str
AZURE_CONTAINER_NAME=name

# Google Cloud
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview

# Front
FRONTEND_URL=http://localhost:4200






